POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_DB=supfile
JWT_SECRET=change-me-in-production
GOOGLE_CLIENT_ID=60122681226-56ehoh7uj46u1ot03dlct24srh1j83p0.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_ID=60122681226-56ehoh7uj46u1ot03dlct24srh1j83p0.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_CLIENT_ID=60122681226-56ehoh7uj46u1ot03dlct24srh1j83p0.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_ID=60122681226-56ehoh7uj46u1ot03dlct24srh1j83p0.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_ID=60122681226-56ehoh7uj46u1ot03dlct24srh1j83p0.apps.googleusercontent.com