.falling-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

.falling-icon {
  position: absolute;
  top: -50px;
  animation-name: fallAndStack;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards; /* Garde l'image à sa position finale */
}

@keyframes fallAndStack {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  90% {
    transform: translateY(92vh) rotate(360deg); /* Atterrissage */
  }
  100% {
    transform: translateY(92vh) rotate(360deg); /* Reste bloqué ici */
  }
}